<div class="lugares-container">
  <div *ngFor="let lugar of lugares" class="lugar-card">
    <mat-card class="custom-card">
      <mat-card-header class="card-header">
        <mat-icon>event</mat-icon>
        <span class="card-title">{{ lugar.nombre }}</span>
      </mat-card-header>

      <img mat-card-image [src]="lugar.imagen" alt="Imagen de {{ lugar.nombre }}" />

      <mat-card-content class="card-content">
        <div class="info-line">
          <span><strong>{{ lugar.ciudad }}</strong></span>
          <span><strong>{{ lugar.departamento }}</strong></span>
          <span><strong>Fecha</strong></span>
          <span><strong>{{ lugar.fecha }}</strong></span>
        </div>
        <button routerLink="/dashboard">Volver al Dashboard</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
