<div class="panel-principal">
    <h1 class= "panel-title">{{ panelInfo.titulo }}</h1>
    <p class="panel-description">{{ panelInfo.descripcion }}</p>
  
    <mat-form-field appearance="outline" class="selector-categorias">
      <mat-label>Categoría</mat-label>
      <mat-select [(value)]="selectedCategoria" (selectionChange)="seleccionarCategoria()">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">
          {{ categoria.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="carrusel-container" *ngIf="cards.length">
      <button mat-icon-button (click)="scrollCarrusel('left')"><mat-icon>chevron_left</mat-icon></button>
      <div class="carrusel" #carrusel>
        <mat-card *ngFor="let card of cards" class="card" (click)="verDetalles(card)" [ngClass]="{ 'selected': selectedCard === card }">
          <mat-card-title class="card-title">{{ card.titulo }}</mat-card-title>
          <img mat-card-image class="card-image" [src]="card.imagen" alt="Imagen de {{card.titulo}}">
          <mat-card-content class="card-description">{{ card.texto }}</mat-card-content>
        </mat-card>
      </div>
      <button mat-icon-button (click)="scrollCarrusel('right')"><mat-icon>chevron_right</mat-icon></button>
    </div>
  
    <div class="detalle-section" *ngIf="detalles" [ngStyle]="{'background-image': 'url(' + detalles.fondo + ')'}">
      <div class="detalle-content">
        <h2 class="detalle-titulo">{{ detalles.titulo }}</h2>

        <div class="descripcion-dinamica" *ngIf="detalles?.descripcion?.length">
        <ng-container *ngFor="let bloque of detalles.descripcion">
          <h2 *ngIf="bloque.tipo === 'titulo'">{{ bloque.contenido }}</h2>
          <h4 *ngIf="bloque.tipo === 'subtitulo'">{{ bloque.contenido }}</h4>
          <p *ngIf="bloque.tipo === 'texto'">{{ bloque.contenido }}</p>
        </ng-container>
      </div>
        <div class="imagenes-detalle">
          <img *ngFor="let img of detalles.imagenes" [src]="img" alt="Detalle"  class="detalle-img">
        </div>
        <button mat-raised-button color="warn" (click)="cerrarDetalles()">Cerrar</button>
      </div>
    </div>
  </div>
