
    <aside class="sidebar">
        <div class="profile">
            <img src="/logo.png" alt="logo" class="profile-img/">
        </div>
        <div class="section">
            <h2>Describcion</h2>
            <div class="nav-card">
                <button class="nav-botones">
                    <img src="casa.png" alt="Inicio">
                    <span>inicio</span>   

                </button>
            </div>
        </div>
            

            
                
    
        
            <button class="manu-item">
                <img src="lupa.png" alt="Buscar">
                <span>Buscar</span>
            </button>
        </div>
        
        <div class="menu-item">
            <h2>Biblioteca</h2>
            <button>
                <img src="maracas.png" alt="instrumentos">
                <span>instrumento</span>
            </button>
            <button class="menu-item">
                <img src="microfono.png" alt="Copla">
                <span>copla</span>
            </button>
            <button class="menu-item">
                <img src="lado-de-caballo.png" alt="Coleo">
                <span>Coleo</span>
            </button>
            <button class="menu-item">
                <img src="vestido-tipico-mexicano.png" alt="trajes-tipicos">
                <span>Trajes tipicos</span>
            </button>
            <button class="menu-item">
                <img src="cotiza.jpg" alt="cotiza">
                <span>cotiza</span>
            </button>
            <button class="menu-item">
                <img src="bailando.png" alt="Danza">
                <span>Danza</span>
            </button>
        </div>
    </aside>
    <main class="content">
        <header class="topbar">
            <div class="nav-botones">
                <button>musical</button>
                <button>cultura</button>
                <button>turismo</button>
            </div>
        </header>
    </main>
<div class="fondo-de-pantalla">

   <h3>instrumentos </h3>   

//<div class="contenedor">
    <button onclick="movientoIzquida()"><</button>
   
    
    <div class="division">
        
        <div class="card">
                <div class="card-content">
                    <img src="maracas (2).jpg" alt="maracas"> 
                    <h2>maracas</h2> 
                    <span>instrumento de percusion</span>
                    <button>mas informacion</button>
                </div>
            </div>
    </div>
    <div class="division">

        <div >

            <div class="card" >
                <div class="card-content">
                    <img src="cuatro (2).webp" alt="cuatro"> 
                    <h2>maracas</h2> 
                    <span>instrumento de percusion</span>
                    <button>mas informacion</button>
                </div>
            </div>  
            </div>
    </div>
    <div class="division">

        <div class="card">
            <div class="card-content">
                <img src="bandola-1.jpg" alt="bandola">
                <h2>bandola</h2> 
                <span>instrumento de percusion</span>
                <button>mas informacion</button>
            </div>
        </div>  
        </div>
    <div class="division">
        <div class="card">
                <div class="card-content">
                    <img src="arpa...png" alt="Arpa">
                    <h2>Arpa</h2> 
                    <span>instrumento de percusion</span>
                    <button>mas informacion</button>
                </div> 
            </div>
    </div>
    <div class="division">

        <div class="card">
            <div class="card-content">
                <img src="mandolina1.,.jpg" alt="mandolina">
                <h2>mandolina</h2> 
                <span>instrumento de percusion</span>
                <button>mas informacion</button>
            </div>
        </div>  
        </div>
    <div class="division"><div class="card">
        <div class="card-content">
            <img src="bajo-.1.jpg" alt="Bajo">
            <h2>maracas</h2> 
            <span>instrumento de percusion</span>
            <button>mas informacion</button>
        </div>
    </div> </div>
    <button onclick="movientoDerecha()">></button>
   //</div>
  <div class="texto-informacion">
   <p>
    La música llanera, con su rica historia y vibrante sonido, se caracteriza por el uso de una variedad de instrumentos que han ido evolucionando y adaptándose a lo largo del tiempo. Cada instrumento aporta su propia voz única a la música, creando una textura sonora 
    compleja y cautivadora que refleja la identidad cultural de la región llanera de Colombia y Venezuela.
    Los instrumentos utilizados en la música llanera han evolucionado a lo largo del tiempo, adaptándose a las influencias culturales y a las nuevas tecnologías. Los instrumentos tradicionales como el arpa, el cuatro y las maracas se han mantenido como elementos centrales del género, mientras que otros instrumentos como el bajo y la 
    guitarra se han incorporado más recientemente. 
     La música llanera no sería la misma sin sus instrumentos. Cada instrumento aporta su propia voz única, creando una rica tapestry sonora que refleja la historia, la cultura y la identidad de la región llanera. Los instrumentos llaneros han evolucionado a lo largo del tiempo, adaptándose a nuevas influencias y tecnologías, pero siguen siendo elementos esenciales 
    en la expresión musical de la región.   

</p> 
  </div> 

