
    <main class="content">
        <header class="topbar">
            <div class="nav-botones">
                <button>musical</button>
                <button>cultura</button>
                <button>turismo</button>
            </div>
        </header>
    </main>
    <app-card-carosel></app-card-carosel>
    
    
 

  <div class="texto-informacion">
   <p>
    La música llanera, con su rica historia y vibrante sonido, se caracteriza por el uso de una variedad de instrumentos que han ido evolucionando y adaptándose a lo largo del tiempo. Cada instrumento aporta su propia voz única a la música, creando una textura sonora 
    compleja y cautivadora que refleja la identidad cultural de la región llanera de Colombia y Venezuela.
    Los instrumentos utilizados en la música llanera han evolucionado a lo largo del tiempo, adaptándose a las influencias culturales y a las nuevas tecnologías. Los instrumentos tradicionales como el arpa, el cuatro y las maracas se han mantenido como elementos centrales del género, mientras que otros instrumentos como el bajo y la 
    guitarra se han incorporado más recientemente. 
     La música llanera no sería la misma sin sus instrumentos. Cada instrumento aporta su propia voz única, creando una rica tapestry sonora que refleja la historia, la cultura y la identidad de la región llanera. Los instrumentos llaneros han evolucionado a lo largo del tiempo, adaptándose a nuevas influencias y tecnologías, pero siguen siendo elementos esenciales 
    en la expresión musical de la región.   

</p> 
  </div> 
<div class="maracas">

</div>

