<div class="container">
    <div class="logo">
      <img src="/logo.png" alt="Logo" />
      <h1>PIJA MUSIC</h1>
    </div>
  
    <div class="form-container">
      <h2>Recuperar contraseña</h2>
  
      <form (ngSubmit)="enviarCodigo()" #form="ngForm">
        <div class="label-wrapper">
          <label for="email">Dirección de email</label>
        </div>

  
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
        />
  
        <div class="button-group">
          <button type="button" class="cancelar" (click)="cancelar()">Cancelar</button>
          <button class="submit" (click)="irACodigo()">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  