
    <!-- Sección de Novedades -->
    <section class="novedades">
      <h2>Novedades</h2>
      <div class="cards cards-novedades">
        <button class="card" *ngFor="let item of novedades" (click)="navigateTo(item.route)">
          <img [src]="item.img" alt="{{ item.title }}" />
          <p>{{ item.title }}</p>
        </button>
      </div>
    </section>
    
    

    <!-- Sección de Artistas -->
    <section class="artistas">
      <h2>Artistas</h2>
      <div class="cards">
        <button class="card" *ngFor="let artista of artistas" (click)="navigateTo(artista.route)">
          <img [src]="artista.img" alt="{{ artista.name }}" />
          <p>{{ artista.name }}</p>
        </button>
      </div>
    </section>
    
    

