<div class="main-container"> 
  <aside class="sidebar">
    <div class="profile">
      <img src="/logo.png" alt="logo" class="profile-img" />
      <h4>Descubre</h4>
    </div>
    <nav>
      <ul class="nav-links">
        <button>Inicio</button>
        <button>Buscar</button>
      </ul>
    </nav>
    <div class="sections">
      <h5>Relaciones</h5>
      <ul class="nav-links">
        <button>playists</button>
        <button>Favoritos</button>
        <button>Notificaciones</button>
      </ul>
    </div>
  </aside>

  <main class="content">
    <header class="topbar">
      <div class="nav-botones">
        <button>Música</button>
        <button>Cultura</button>
        <button>Turismo</button>
      </div>
      <div class="search-login">
        <input type="text" placeholder="Buscar" />
        
        <!-- SOLO ESTOS TIENEN REDIRECCIÓN -->
        <a routerLink="/iniciar sesion">
        <button><li><a href="#">Iniciar Sesion</a></li></button>
        </a>

        <a routerLink="/register">
          <button><li><a href="#">Registrarse</a></li></button>
        </a>
      </div>
    </header>

    <section class="novedades">
      <h2>Novedades</h2>
      <div class="cards cards-novedades">
        <div class="card" *ngFor="let item of novedades">
          <img [src]="item.img" />
          <p>{{ item.title }}</p>
        </div>
      </div>
    </section>
    

    <section class="artistas">
      <h2>Artistas</h2>
      <div class="cards">
        <div class="card" *ngFor="let artista of artistas">
          <img [src]="artista.img" />
          <p>{{ artista.name }}</p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer-section logo-container">
        <img src="/logo.png" alt="Logo" />
        <p>Descubre un mundo de nuevas experiencias y dejate envolver por la Cultura llanera/p>
      </div>
      <div class="footer-section">
        <h4>Menu</h4>
        <ul>
          <li>Blog</li>
          <li>Comunidad</li>
          <li>Acerca de</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Productos</h4>
        <ul>
          <li>Música</li>
          <li>Cultura</li>
          <li>Danza</li>
          <li>Turismo</li>
        </ul>
      </div>
    </footer>

    <div class="legal">
      <a href="#">Legal</a>
      <a href="#">Configuración de privacidad</a>
      <a href="#">Política de privacidad</a>
      <a href="#">Cookies</a>
    </div>
  </main>
</div>
