<div clase="carosel-wrapper">
    <h2>Instrumentos/h2>
        <p class="description">Instrumentos</p>

        <div class="carosel-container">
            <button mat-raised-button color="primary" (click)="goPrevious()" [disabled]="currenIndex ===0">Anterior</button>

            <div class="card-track-container">
                <div class="carosel-track"[style.transform]="getTransform()"> 
                    <mat-card class="carosel-card">
                       <img mat-card-image [src]="card.imagen" alt="imagen de los instrumentos"/>
                        <mat-card-title>{{card.title}}</mat-card-title>
                        <mat-card-action>
                        <button mat-button color="accernt" (click)="moatrarDetalle(card)">{{cad.title_button}}</button>
                    </mat-card-action> 
                    </mat-card>
            
                </div>
            </div>
            <button mat-raised-button color="primary"(click)="goNext()"[disabled]="currenIndex===cards.length">Siguiente</button>
        </div>
        <div class="detalle-info" *ngIf="selectedInfo">
            <h3>{{selectadInfo.title}}</h3>
            <p>{{selectadInfo.description}}</p>
            <button mat-stroked-button color="warn" (click)="cerrarDetalle()">Cerra</button>
        </div>
</div>
