<p>trajes-tipicos</p>
<div class="imagen-boton">
    <div class="item">
        <img src="baile1.png" alt="trajes-llaneros">
        <button (click)="mostrarSeccion('trajes_tipicos')">trajes llaneros</button>
    </div>
    <div class="item">
        <img src="sombrerp.jpg" alt="Zimbreros">
        <button (click)="mostrarSeccion('zombreros_llaneros')">sombreros</button>
    </div>
</div>    
<div class="texto-informacion">
        <h3>{{trajes_informacion.titulo1}}</h3>
        <p>{{trajes_informacion.informacion1}}</p>
</div>
<div class="contenido" *ngIf="seccionActual as actual">
        <h2>{{secciones[actual].titulo1 }}</h2>
        <p>{{secciones[actual].contenido1 }}</p>
        <h2>{{secciones[actual].titulo2 }}</h2>
        <p>{{secciones[actual].contenido2 }}</p>
        <h2>{{secciones[actual].titulo3 }}</h2>
        <p>{{secciones[actual].contenido3 }}</p>
        <img *ngIf="secciones[actual].imagen1" [src]="secciones[actual].imagen1" alt="trajes-tradicionales">
        <img *ngIf="secciones[actual].imagen2" [src]="secciones[actual].imagen2" alt="trajes_espectaculos">

        <h2>{{secciones[actual].titulo4 }}</h2>
        <p>{{secciones[actual].contenido4 }}</p>
        <h2>{{secciones[actual].titulo5 }}</h2>
        <p>{{secciones[actual].contenido5 }}</p>
        <img *ngIf="secciones[actual].imagen3" [src]="secciones[actual].imagen3" alt="trajes-tradicionales">
        <img *ngIf="secciones[actual].imagen4" [src]="secciones[actual].imagen4" alt="trajes_espectaculos">

<div class="close-button-container">
  <button mat-stroked-button color="warn" class="close-button" (click)="cerrarDetalle()">Cerrar</button>
</div>
</div>

