<form [formGroup]="registerForm" class="login-container">
  <mat-card>
    <div class="logo-container">
      <img src="/logo.png" alt="Logo" />
    </div>

    <br />
    <h1>Bienvenido a Pija Music</h1><br />
    <p>Bienvenido a la mejor experiencia musical</p><br />

    <!-- Campo de Email -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Dirección de email</mat-label>
      <input matInput formControlName="Email" />
    </mat-form-field>

    <!-- Campo de Contraseña -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="Contraseña"
        maxlength="8"
      />
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <!-- Botón de Ingreso -->
   <button class="login-button" (click)="login()" [disabled]="registerForm.invalid">
  Iniciar Sesión
</button>


    <!-- Crear cuenta -->
    <a class="register-link" (click)="goToRegister()">Crear una cuenta nueva</a>

    <!-- Enlace para recuperar contraseña -->
    <a [routerLink]="['/contraseña']" class="forgot-password">
      ¿Olvidaste tu contraseña?
    </a>

    <!-- Condiciones de uso -->
    <div class="terms">
      <mat-checkbox formControlName="terms">
        Haciendo clic en registrarse acepta las
        <a [routerLink]="['/politicas']">condiciones de uso</a> y las
        <a [routerLink]="['/politicas']" [queryParams]="{ returnTo: 'login' }">políticas de privacidad</a>.
      </mat-checkbox>
    </div>
  </mat-card>
</form>
