<div class="register-container">
  <div class="register-card">
    <!-- Logo -->
    <img src="/logo.png" alt="Logo" class="logo" />

    <h1>Registro de usuario</h1>
    <p>
      ¿Ya tienes una cuenta en Pija Music?
      <a href="/login" class="login-link">Iniciar sesión</a>
    </p>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <!-- Campo de Nombre de usuario -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="Nombres" />
      </mat-form-field>

      <!-- Campo de Identidad -->
<mat-form-field appearance="outline" class="full-width">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="Apellido" />
      </mat-form-field>

      <!-- Campo de Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Dirección de email</mat-label>
        <input matInput formControlName="Email" />
      </mat-form-field>
      

      <!-- Campo de Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="Contraseña" maxlength="8">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <!-- Confirmación -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirmar contraseña</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="Contraseña" maxlength="8">
    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button">
      <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="confirmPassword?.hasError('mismatch')">Las contraseñas no coinciden</mat-error>
  </mat-form-field>

      <!-- Condiciones de uso -->
      <div class="terms">
        <mat-checkbox formControlName="terms">
          Haciendo clic en registrarse acepta las
          <a [routerLink]="['/politicas']">condiciones de uso y las políticas de privacidad</a>
          <a [routerLink]="['/politicas']" [queryParams]="{ returnTo: 'register' }">políticas de privacidad</a>
        </mat-checkbox>
      </div>

      <button
      mat-raised-button
      class="register-button"
      (click)="openDialog('0ms', '0ms')"
      type="submit"
      [disabled]="!registerForm.valid || !passwordsMatch"
    >
      Enviar
    </button>
    </form>
  </div>
</div>
