<div class="acitividad-familiar-section">
    <h2 class="titulo-Eventos">Eventos Culturales</h2>
  
    <div class="tarjetas-container">
      <!-- Tarjeta 1 -->
      <mat-card class="lugar-card">
        <div class="lugar-header">
          <mat-icon>event</mat-icon>
          <span class="titulo">Casanare Palpita</span>
        </div>
        <img mat-card-image src="palpita.jpg" alt="Casanare Palpita" />
        <div class="lugar-info">
            <div>Yopal<br />Casanare</div>
          <div><strong>Julio</strong></div>
        </div>
      </mat-card>
  
      <!-- Tarjeta 2 -->
      <mat-card class="lugar-card">
        <div class="lugar-header">
          <mat-icon>event</mat-icon>
          <span class="titulo">Yopal Fest</span>
        </div>
        <img mat-card-image src="fest.jpg" alt="Joropo Fest" />
        <div class="lugar-info">
          <div>Yopal<br />Casanare</div>
          <div><strong>Noviembre</strong></div>
        </div>
      </mat-card>
  
      <!-- Tarjeta 3 -->
      <mat-card class="lugar-card">
        <div class="lugar-header">
          <mat-icon>event</mat-icon>
          <span class="titulo">Copa America de Coleo</span>
        </div>
        <img mat-card-image src="copa.jpg" alt="Copa America de Coleo" />
        <div class="lugar-info">
          <div>Yopal <br />Casanare</div>
          <div><strong>Diciembre</strong></div>
        </div>
      </mat-card>
    </div>
  </div>
