.custom-alert {
  position: fixed;
  top: 50%; /* 👈 Centrado vertical */
  left: 50%; /* 👈 Centrado horizontal */
  transform: translate(-50%, -50%); /* 👈 Ajuste para centrar exacto */
  background-color: #ffffff;
  color: #333; /* 👈 Define un color de texto legible */
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
  max-width: 90%;
  width: 300px;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}



.custom-alert p {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.custom-alert button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #8D7CB2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.custom-alert button:hover {
  background-color: #4A2F6D;
}

.alert-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

