<div class="acitividad-familiar-section">
    <h2 class="titulo-Lugares Historicos">Lugares Historicos</h2>
  
    <div class="tarjetas-container">
      <!-- Tarjeta 1 -->
      <mat-card class="lugar-card">
        <div class="lugar-header">
          <mat-icon>museum</mat-icon>
          <span class="titulo">Museo Historico</span>
        </div>
        <img mat-card-image src="museo.jpg" alt="Museo Historico" />
        <div class="lugar-info">
            <div>Yopal<br />Casanare</div>
          <div><strong>Calle 29a 20-41</strong></div>
        </div>
      </mat-card>
  
      <!-- Tarjeta 2 -->
      <mat-card class="lugar-card">
        <div class="lugar-header">
          <mat-icon>event</mat-icon>
          <span class="titulo">Las Ruinas de Pore</span>
        </div>
        <img mat-card-image src="pore.jpg" alt="Las Ruinas de Pore" />
        <div class="lugar-info">
          <div>Yopal<br />Casanare</div>
          <div><strong>Distancia</strong><br />21 km</div>
        </div>
      </mat-card>
  
      <!-- Tarjeta 3 -->
      <mat-card class="lugar-card">
        <div class="lugar-header">
          <mat-icon>event</mat-icon>
          <span class="titulo">Monte de Jehová</span>
        </div>
        <img mat-card-image src="monte.jpg" alt="Copa America de Coleo" />
        <div class="lugar-info">
          <div>Yopal <br />Casanare</div>
          <div><strong>Distancia</strong><br />8 km</div>
        </div>
      </mat-card>
    </div>
  </div>
