<div class="register-container">
  <div class="register-card">
    <!-- Logo -->
    <img src="/logo.png" alt="Logo" class="logo" />

    <h1>Registro de Administrador</h1>
    <p>
      ¿Ya tienes una cuenta en Pija Music?
      <a href="/login" class="login-link">Iniciar sesión</a>
    </p>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <!-- Campo de Nombre -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="Nombres" />
      </mat-form-field>

      <!-- Campo de Apellido -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Número de telefono</mat-label>
        <input matInput formControlName="Celular" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo de identificación</mat-label>
        <mat-select [(ngModel)]="documentType" name="documentType" required [ngModelOptions]="{standalone: true}">
          <mat-option value="" disabled>Seleccione tipo de documento</mat-option>
          <mat-option value="cedula">Cédula</mat-option>
          <mat-option value="tarjeta">Tarjeta de Identidad</mat-option>
          <mat-option value="pasaporte">Pasaporte</mat-option>
        </mat-select>
      </mat-form-field>

        <!-- Campo de Nombre -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Número de identificación</mat-label>
        <input matInput formControlName="Cedula"/>
      </mat-form-field>

      
      <!-- Campo de Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Dirección de email</mat-label>
        <input matInput formControlName="Email" />
      </mat-form-field>


      <!-- Campo de Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="Contraseña"
          maxlength="8"
        />
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- Confirmación de Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar contraseña</mat-label>
        <input
          matInput
          [type]="hideConfirm ? 'password' : 'text'"
          formControlName="confirmPassword"
          maxlength="8"
        />
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button">
          <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword?.hasError('mismatch')">Las contraseñas no coinciden</mat-error>
      </mat-form-field>


      <!-- Condiciones de uso -->
      <div class="terms">
        <mat-checkbox formControlName="terms">
          Haciendo clic en registrarse acepta las
          <a [routerLink]="['/politicas']">condiciones de uso</a> y las
          <a [routerLink]="['/politicas']" [queryParams]="{ returnTo: 'register' }">políticas de privacidad</a>
        </mat-checkbox>
      </div>

      <!-- Botón de enviar -->
      <button
        mat-raised-button
        class="register-button"
        type="submit"
        [disabled]="!registerForm.valid || !passwordsMatch"
      >
        Enviar
      </button>
    </form>
  </div>
</div>
