<mat-card class="lugar-card" *ngFor="let lugar of lugares">
  <div class="lugar-header">
    <mat-icon>hiking</mat-icon>
    <span class="titulo">{{ lugar.nombre }}</span>
  </div>

  <!-- Imagen clickeable -->
  <img
    mat-card-image
    [src]="lugar.imagen"
    [alt]="lugar.nombre"
    style="cursor: pointer"
    (click)="mostrarInformacion(lugar.id)"
  />

  <div class="lugar-info">
    <div>{{ lugar.ciudad }}<br />{{ lugar.departamento }}</div>
    <div><strong>Distancia</strong><br />{{ lugar.distancia }}</div>
  </div>

  <!-- Información expandible -->
  <div *ngIf="lugarActivoId === lugar.id" class="info-expandida">
    <p><strong>Descripción:</strong></p>
    <ul>
      <li *ngFor="let desc of lugar.descripcion">{{ desc }}</li>
    </ul>
    <p><em>{{ lugar.frase }}</em></p>
  </div>
  <button mat-raised-button  >Ver</button>
</mat-card>
